<!doctype html>
<html lang="en">
  <head>
    <%= yield_content "title" %>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0">
    <link rel="stylesheet" href="css/all.css">
    <%= yield_content "scripts_and_styles" %>
  </head>
  <body>
    <%= content %>
  </body>
</html>
